.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
html a,
html input,
html select {
  font-family: Monospace, Helvetica, Arial, sans-serif;
}
body {
  background: #161616;
  color: #069606;
  overflow: hidden;
}
input,
select,
option {
  border: 2px solid #069606;
  background: #161616;
  color: #069606;
  margin: 8px 0 0 0;
}
input:hover,
select:hover,
option:hover {
  background: #069606;
  color: #161616;
}
/*#############
#   HEADER    #
#############*/
#header {
  text-align: center;
  width: 100%;
}
#header input,
#header select,
#header option {
  border-bottom: 0 solid #069606;
}
#header #selectItems {
  float: left;
}
#header #new {
  float: right;
}
/*##############
#   OPTIONS    #
##############*/
.options {
  border-top: 6px solid #069606;
  height: 10%;
}
.options .row {
  padding-left: 10px;
}
.options .row span {
  min-width: 160px;
  position: relative;
  display: inline-block;
  text-align: inherit;
}
/*#############
#   PATTERN   #
#############*/
#activePtnInput {
  border: 0;
  padding: 0;
  margin: 0;
}
#ptnPosition {
  width: 98%;
  height: 3px;
  background: #069606;
  position: relative;
  z-index: 9999;
  top: 0px;
  -webkit-animation-name: ptnPosAni;
  -webkit-animation-duration: 3.75s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  /* Standard syntax */
  animation-name: ptnPosAni;
  animation-duration: 3.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes ptnPosAni {
  0% {
    top: 0px;
  }
  100% {
    top: 100px;
  }
}
#pattern {
  border-left: 2px solid #069606;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#pattern .data {
  border-top: 6px solid #069606;
  width: 99%;
  position: relative;
  height: 80%;
  overflow-y: scroll;
}
#pattern .data tr.active {
  background: #069606;
  color: #161616;
}
#pattern .data table td,
#pattern .data table th {
  border-right: 1px solid #069606;
  margin: 0;
}
#pattern .data table thead th {
  border-bottom: 6px solid #069606;
  cursor: pointer;
}
#pattern .data table tbody td {
  border-bottom: 1px dashed #069606;
  cursor: pointer;
}
