<div class="col6 pull-left">
    <div class="row">
        <span id="ptnChannel">ch: 0</span>
        <input value="-" id="chMinus" type="button" />
        <input value="+" id="chPlus" type="button"/>
    </div>
    <div class="row">
        <span id="steps">steps: 666</span>
        <input value="-" id="stepsMinus" type="button" />
        <input value="+" id="stepsPlus" type="button"/>
    </div>
    <div class="row">
        <span id="tPerStep">tPerStep: 666</span>
        <input value="-" id="tStepMinus" type="button" />
        <input value="+" id="tStepPlus" type="button"/>
    </div>
</div>
<div class="col6 pull-right">
    <div class="row">
        <span>name: </span>
        <input value="default" id="ptnName" type="text"/>
        <h3>Oneline-Tracker v0.1</h3>
        <span>Work in progress ...</span>
    </div>
</div>
<div class="clear"></div>